.change-date {
  grid-row: 2/3;
  grid-column: 4/6;
  justify-self: start;

  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  font-family: "Roboto Condensed";
  font-weight: 100;

  transform: rotate(-70deg) translate(0px,-70px);

  i {
      margin-right: 10px;
  }

  &:focus {
    outline: none;
  }
}
